In [1]:
import numpy as np
from dbesg import SmithWilson, NelsonSiegel

In [2]:
SmithWilson

dbesg.yieldcurve.SmithWilson

In [21]:
df.columns

Index(['일자', '국고채권\n(1년)', '국고채권\n(3년)', '국고채권\n(5년)', '국고채권\n(10년)',
       '국고채권\n(20년)', '국고채권\n(30년)'],
      dtype='object')

In [65]:
import pandas as pd

df = pd.read_excel('result/risk_free_interest_rate_20210103123854.xlsx')
df = df.set_index('일자')
df.columns = df.columns.str.extract(r'(\d+)년')[0]
df = df.drop(['최고', '최저'], axis=0)
df = df.reset_index()
df['일자'] = df['일자'].astype('datetime64[ns]')
df

0            일자      1      3      5     10     20     30
0    2020-12-31  0.741  0.976  1.335  1.713  1.824  1.823
1    2020-12-30  0.741  0.978  1.335  1.713  1.825  1.823
2    2020-12-29  0.736  0.973  1.327  1.698  1.810  1.808
3    2020-12-28  0.728  0.958  1.316  1.681  1.803  1.803
4    2020-12-24  0.722  0.950  1.314  1.682  1.801  1.802
...         ...    ...    ...    ...    ...    ...    ...
1228 2016-01-07  1.598  1.639  1.780  2.015  2.134  2.180
1229 2016-01-06  1.601  1.639  1.788  2.035  2.149  2.195
1230 2016-01-05  1.602  1.643  1.792  2.057  2.163  2.210
1231 2016-01-04  1.605  1.634  1.778  2.039  2.137  2.191
1232 2015-12-31  1.629  1.662  1.814  2.076  2.158  2.207

[1233 rows x 7 columns]

In [10]:
maturity = np.array([1, 3, 5, 10, 20, 30])
rate = np.array([0.01301, 0.01325, 0.01415, 0.01600, 0.01625, 0.01604])
alpha, ufr = 0.1, 0.052
sw = SmithWilson(alpha, ufr)
sw.set_params(maturity, rate)
t = np.linspace(0, 100, 1201)
spot = sw.spot_rate(t)
forward = sw.forward_rate(t, 1)